@import "tailwindcss";

@theme {
  --color-base: #09090B;
  --color-surface: #18181B;
  --color-subtle: #27272A;
  --color-accent: #D9F99D;
  --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
}
@layer utilities {
    /* Custom Thin Scrollbar */
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
    }

    *:hover::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.15);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-accent) !important;
    }

    /* Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
    }
}
